# Copia este archivo a .env y rellena con los datos de Neon (Connection details).
# NO subas .env a git.

# URL pooled recomendada para Spring Boot (ssl obligatorio en Neon)
SPRING_DATASOURCE_URL=jdbc:postgresql://ep-XXXX-pooler.region.aws.neon.tech/neondb?sslmode=require
SPRING_DATASOURCE_USERNAME=neondb_owner
SPRING_DATASOURCE_PASSWORD=cambiar_por_password_neon
